### IRSYNC server properties ###
server:
  address: 127.0.0.1
  port: 9090
  forward-headers-strategy: native
  servlet:
    context-path: /

# IRSYNC scheduling cron expression
# CSN pushes IR to APs at 4 CET/CEST, so polling for IR from RINA at 15 minutes past the hour between 4 and 6 o'clock is OK
cron:
  expression: 0 0/05 6-17 * * *

# IRSYNC wait for new IR contents from AP in seconds
update:
  wait: 120

logging:
  config: file:./config/logback-spring.xml


### Spring properties ###
spring:
  output:
  ansi:
    enabled: DETECT

spring.main.banner-mode: 'off'
spring.metrics.web.server.auto-time-requests: true

### Metrics ###
management.endpoints.web.exposure.include: info, health, metrics, prometheus, conditions
management.metrics.export.prometheus.enabled: true

rina.tenants:
  - institutionId: NO:NAVAT07
    casBaseUrl: https://rina-ss1-q.adeo.no/eessiCas
    casServiceId: ../portal/cas/cpi
    cpiBaseUrl: https://rina-ss1-q.adeo.no/eessiRest
    adminuser: admin
    adminpwd: ENC(nNbuzS7xZ/3M2UqCrfSeJgPRD1IKJk4r)

  - institutionId: NO:NAVAT08
    casBaseUrl: https://rina-ss2-q.adeo.no/eessiCas
    casServiceId: ../portal_new/cas/cpi
    cpiBaseUrl: https://rina-ss2-q.adeo.no/eessiRest
    adminuser: admin
    adminpwd: ENC(nNbuzS7xZ/3M2UqCrfSeJgPRD1IKJk4r)

  - institutionId: NO:NAVAT05
    casBaseUrl: https://rina-ss3-q.adeo.no/eessiCas
    casServiceId: ../portal_new/cas/cpi
    cpiBaseUrl: https://rina-ss3-q.adeo.no/eessiRest
    adminuser: admin
    adminpwd: ENC(nNbuzS7xZ/3M2UqCrfSeJgPRD1IKJk4r)

  - institutionId: NO:NAVAT06
    casBaseUrl: https://rina-ss4-q.adeo.no/eessiCas
    casServiceId: ../portal_new/cas/cpi
    cpiBaseUrl: https://rina-ss4-q.adeo.no/eessiRest
    adminuser: admin
    adminpwd: ENC(nNbuzS7xZ/3M2UqCrfSeJgPRD1IKJk4r)
